@page "/counter"
@using CalunsagWASM_IPT102_Final.Shared
@inject HttpClient httpClient;


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<br />

@if (studentList != null && studentList.Count != 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Course</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in studentList)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Code</td>
                    <td>@student.Course</td>
                    <td><button @onclick="async () => {await DeleteStudent(student.Code);}">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span style="color:red;font-weight:600">No Student to display</span>
}

<br />
<br />
<input @bind="student.Name" placeholder="Name" />
<input @bind="student.Code" placeholder="Code" />
<input @bind="student.Course" placeholder="Course" />
<br />
<br /> 
<button @onclick="AddStudent">Add Student</button>

@code {
    private int currentCount = 0;

    private List<Student>? studentList;
    private Student student = new Student();

    protected override async Task OnInitializedAsync()
    {
        studentList = await httpClient.GetFromJsonAsync<List<Student>>("api/Student/GetStudent");
        await base.OnInitializedAsync();
    }
    private async Task DeleteStudent(string code)
    {
        await httpClient.DeleteAsync($"api/Student/DeleteStudent?code={code}");
        studentList = await httpClient.GetFromJsonAsync<List<Student>>("api/Student/GetStudent");
    }
    private async Task AddStudent()
    {
        await httpClient.PostAsJsonAsync<Student>("api/Student/AddStudent", student);
        studentList = await httpClient.GetFromJsonAsync<List<Student>>("api/Student/GetStudent");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
