@page "/counter"
@using CalunsagWASM_IPT102_Final.Shared
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager


<PageTitle>Add Student</PageTitle>


<input @bind="student.Name" placeholder="Name" />
<input @bind="student.Code" placeholder="Code" />
<input @bind="student.Course" placeholder="Course" />

<br />
<br /> 

<button @onclick="AddStudent">Add Student</button>
<button @onclick="EditStudent">Save</button>

@code {

    private List<Student>? studentList;
    private Student student = new Student();
    
    private async Task AddStudent()
    {
        await httpClient.PostAsJsonAsync<Student>("api/Student/AddStudent", student);
        studentList = await httpClient.GetFromJsonAsync<List<Student>>("api/Student/GetStudent");
        NavigationManager.NavigateTo("/display");
    }
    private async Task EditStudent()
    {
        await httpClient.PutAsJsonAsync<Student>("api/Student/EditStudent", student);
        studentList = await httpClient.GetFromJsonAsync<List<Student>>("api/Student/GetStudent");
        NavigationManager.NavigateTo("/display");
    }
}
