@page "/profile"

<html>
    <head>
        <title>Player Profile</title>
        <link type="text/css" rel="stylesheet" href="~/css/Player/player.css"/>
    </head>
    <body>
        <h1>Player Profile</h1>
        <p><h5>Players have base stats that help them fight monsters and raid dungeons.</h5></p>
        <p><h5>Players increase their level by gaining exp, players gain exp by fighting and slaying monsters.</h5></p>
        <h2>Stats</h2>
        <p>Name: Link</p>
        <p>level: 2</p>
        <p>str: 5 </p>
        <p>mgc: 5 </p>
        <p>agi: 5 </p>
        
    </body>
</html>

@code {

}
