@page "/"

<PageTitle>Home</PageTitle>
<style>
    body {
        background: #127777
    }
</style>

<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <h3>
        This is my Profile, where you can learn a few thing about me!
    </h3>
    <h5><ul>I like Spaghetti, it is one of my favorite food!</ul></h5>
    <h5><ul>I play League of Legends with my friend Gori.</ul></h5>
    <h5><ul>And I tend to forget things easily, like how to code these paragraphs.</ul></h5>
    <h5><ul>You can learn more about me on the other tabs. Feel free to explore them.</ul></h5>    
</body>
