@page
@model Calunsag_Final_IPT102.Pages.AboutModel
@{
}
<div>
    <h1>About Us</h1>
    <p>Welcome to our website! We are passionate about the internet and its potential to connect people, share information, and empower individuals and businesses alike. Our mission is to create a platform that fosters collaboration, creativity, and innovation in the digital space. Whether you're a student, professional, or entrepreneur, we strive to provide resources and tools to help you thrive in the online world. Join us on this exciting journey as we explore the endless possibilities of the internet!</p>
</div>