@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Internet</h1>
</div>

<div class="text-center mt-3">
    <button type="button" class="btn btn-primary mr-2" onclick="location.href='/User'">User</button>
    <button type="button" class="btn btn-primary mr-2" onclick="location.href='/Admin'">Admin</button>
    <button type="button" class="btn btn-primary" onclick="location.href='/Client'">Client</button>
</div>