@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-page-handler="Create">
    <input type="text" name="Id_input"required/>
    <input type="text" name="Name_input" required>
    <input type="text" name="NickName_input" required/>
    <button type="submit">CREATE</button>
</form>

<form method="post" asp-page-handler="Delete">
    <input type="text" name="Id_input" required />
    <button type="submit">Delete</button>
</form>

<form method="post" asp-page-handler="Edit">
    <input type="text" name="Id_input"  />
    <input type="text" name="Name_input" >
    <input type="text" name="NickName_input"  />
    <button type="submit">Edit</button>
</form>

<form method="post" asp-page-handler="Search">
    <input type="text" name="s_input" >
    <button type="submit">Search</button>
    <button formmethod="post" asp-page-handler="Display" type="submit">Display</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>NICKNAME</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var a in Model.list)
        {
        <tr>
            <td>@a.r1</td>
            <td>@a.r2</td>
            <td>@a.r3</td>
        </tr> 
        }
        
    </tbody>
</table>