@using CalunsagBlazorApp.Data
@using Dapper
@using System.Data
@using Microsoft.Data.SqlClient
@inject Connection connect

@page "/stats"

<h3>Stats</h3>

<form @onclick="Create">
    <div class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" class="form-control" id="First Name" @bind="prof.FirstName" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="Last Name" @bind="prof.LastName" />
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="text" class="form-control" id="Age" @bind="prof.Age" />
    </div>
    <div class="form-group">
        <label for="lvl">Level</label>
        <input type="text" class="form-control" id="Level" @bind="prof.Lvl" />
    </div>

    <button>Add</button>
</form>





<div class="row mt-2">
    <div class="col-md-6">
        <label class="labels">First Name</label>
        <span class="form-control">@disprof?.FirstName</span>
    </div>
    <div class="col-md-6">
        <label class="labels">Last Name</label>
        <span class="form-control">@disprof?.LastName</span>
    </div>
    <div class="col-md-6">
        <label class="labels">Age</label>
        <span class="form-control">@disprof?.Age</span>
    </div>
    <div class="col-md-6">
        <label class="labels">Level</label>
        <span class="form-control">@disprof?.Lvl</span>
    </div>
</div>

@code {
    #nullable disable

    private Profiles prof = new Profiles();
    private Profiles disprof;
    private readonly IConfiguration config;
    private SqlConnection conn;

    protected override void OnInitialized()
    {

    }


    public void Create()
    {
        connect.Create();
    }
    public void Update()
    {
        connect.Update(disprof);
    }
    public void Display()
    {
        connect.Display();
    }
    public void Delete()
    {
        connect.Delete();
    }
}
