@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-page-handler="Create">
    Id:<input type="text" name="Id_input" />
    Name:<input type="text" name="Name_input" />
    <button type="submit">Create</button>
    <button type="submit" formmethod="post" asp-page-handler="Update">Update</button>

</form>

<form method="post" asp-page-handler="Delete">
    Id:<input type="text" name="Id_input" />    
    <button type="submit">Delete</button>
</form>

<form method="post" asp-page-handler="Search">
    Id:<input type="text" name="Name_input" />
    <button type="submit">Search</button>
    <button type="submit" formmethod="post" asp-page-handler="all">all</button>
</form>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var a in Model.List)
        {
            <tr>
                <td>@a.Id1</td>
                <td>@a.Name1</td>
            </tr>
        }
    </tbody>
</table>