@page "/"
@inject ConnectionDb PlayerDb

<style>
    body {
        background-color: Thistle; 
        border: 2px solid Gray;
        border-radius: 16px;
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
        min-width: 256px;
        padding-top: 8px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    html {
        background: radial- gradient(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
        background-size: 8px 8px;
    }
</style>

<form @onsubmit="Create">
    <h1 class="title text-center mb-4">Get Contact</h1>

    <div class="form-group position-relative">
        <label for="formFirstName">
            <i class="icon" data-feather="user"></i>
        </label>
        <input type="text" id="formFirstName" class="form-control form-control-lg thick" placeholder="PlayerName" @bind="playerInput.PlayerName">
    </div>

    <div class="form-group position-relative">
        <label for="formLastName">
            <i class="icon" data-feather="mail"></i>
        </label>
        <input type="text" id="formLastName" class="form-control form-control-lg thick" placeholder="LastName" @bind="playerInput.PlayerRank">
    </div>

    <div class="form-group position-relative">
        <label for="formEmail">
            <i class="icon" data-feather="mail"></i>
        </label>
        <input type="email" id="formEmail" class="form-control form-control-lg thick" placeholder="E-mail" @bind="playerInput.PlayerClass">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" tabIndex="-1">Save</button>
    </div>
</form>

@code{
    #nullable disable
    private Player playerInput = new Player();

    private void Create()
    {
        PlayerDb.Create(playerInput);
        playerInput = new Player();
    }
    }